
# ---------------------------------------------------------------------------#
#
#       files
#
# ---------------------------------------------------------------------------#


.DS_Store
.tags
.classpath
.project
TODO.txt


# ---------------------------------------------------------------------------#
#
#       extensions
#
# ---------------------------------------------------------------------------#


*.swp
*.sublime-project
*.egg-info
*.pyc


# ---------------------------------------------------------------------------#
#
#       folders
#
# ---------------------------------------------------------------------------#


/temp


# ---------------------------------------------------------------------------#
#
#       sublime
#
# ---------------------------------------------------------------------------#


/support/webapps.sublime-workspace
nbproject


# ---------------------------------------------------------------------------#
#
#       node
#
# ---------------------------------------------------------------------------#


/node_modules
npm-debug.log
